---
import { NavigateBtn } from "../atoms";
---

<section
  class="bg-primary flex flex-col items-center gap-8 py-16 text-center text-white"
>
  <h2 class="font-playfair text-3xl font-bold">
    ¿Lista para tomar el control de tu situación?
  </h2>
  <p class="mb-6 max-w-lg">
    Agenda una consulta gratuita de 30 minutos y descubre cómo puedo acompañarte
    en tu proceso.
  </p>

  <div class="flex flex-col items-center gap-2">
    <NavigateBtn variant="secondary"> Agendar Consulta Gratuita </NavigateBtn>
    <span class="text-sm">Sin compromiso • Completamente confidencial</span>
  </div>
</section>
