---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<section
  class:list={["mx-auto w-full max-w-6xl flex-col px-4 md:px-8", className]}
  id={id}
>
  <slot />
</section>
