---
import Layout from "../layouts/Layout.astro";

import { Header } from "@/components/organisms";

import { Hero } from "@/components/sections";
---

<Layout>
  <Header />
  <main class="mx-auto max-w-6xl px-8">
    <Hero />
  </main>
</Layout>
