---
import Layout from "../layouts/Layout.astro";

import { Header } from "@/components/organisms";

import {
  AboutMe,
  CallToAction,
  Contact,
  Hero,
  Services,
  Testimonials,
} from "@/components/sections";
---

<Layout>
  <Header />
  <main class="mx-auto flex flex-col gap-42">
    <Hero />
    <Services />
    <AboutMe />
    <Testimonials />
    <CallToAction />
    <Contact />
  </main>
</Layout>
