---
import Layout from "../layouts/Layout.astro";

import { Header } from "@/components/organisms";

import { AboutMe, Hero, Services, Testimonials } from "@/components/sections";
---

<Layout>
  <Header />
  <main class="mx-auto flex max-w-6xl flex-col gap-42 px-8">
    <Hero />
    <Services />
    <AboutMe />
    <Testimonials />
  </main>
</Layout>
