---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  variant?: "primary" | "secondary";
  url: string;
}

const { variant = "primary", url, ...rest } = Astro.props;

const classByVariant = {
  primary: "btn--primary",
  secondary: "btn--secondary",
};
---

<a
  class:list={["btn", classByVariant[variant]]}
  href={url}
  rel="noopener noreferrer"
  {...rest}
>
  <slot />
</a>
