---
interface Props {
  variant?: "primary" | "secondary";
}

const { variant = "primary" } = Astro.props;

const classByVariant = {
  primary: "btn--primary",
  secondary: "btn--secondary",
};
---

<a class:list={["btn", classByVariant[variant]]} href="#">
  <slot />
</a>
