<div class="flex items-center gap-6">
  <div class="flex flex-col items-center gap-2">
    <span class="font-playfair text-primary text-3xl font-bold">300+</span>
    <span class="text-sm">Mujeres acompañadas</span>
  </div>

  <div class="flex flex-col items-center gap-2">
    <span class="font-playfair text-primary text-3xl font-bold">15+</span>
    <span class="text-sm">Años de experiencia</span>
  </div>
</div>
