---
import { Navbar } from "@/molecules";
---

<header class="sticky top-0 z-20 bg-white px-2 py-3 shadow-xl md:px-8">
  <div
    class="mx-auto grid max-w-6xl grid-cols-[auto_1fr_auto] items-center justify-between"
  >
    <span>LegalCoach</span>
    <Navbar />
  </div>
</header>
