---
import { Navbar } from "@/molecules";
---

<header class="relative bg-white px-2 py-3 shadow-xl">
  <div
    class="mx-auto grid max-w-7xl grid-cols-[auto_1fr_auto] items-center justify-between"
  >
    <span>LegalCoach</span>
    <Navbar />
  </div>
</header>
