---
import "@/styles/global.css";
import "toastify-js/src/toastify.css";
import "@fontsource/lato";
import "@fontsource/playfair-display";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Legal Coach" />
    <meta
      property="og:description"
      content="Descubre cómo puedo ayudarte con asesoría legal personalizada y soluciones efectivas."
    />
    <meta
      property="og:image"
      content="https://landing-coach.pages.dev/preview.webp"
    />
    <meta property="og:url" content="https://landing-coach.pages.dev/" />
    <meta property="og:type" content="website" />
    <title>Legal coach</title>
  </head>
  <body class="relative">
    <slot />
    <a
      class="btn btn--primary fixed right-5 bottom-5 rounded-full opacity-0 shadow-lg"
      id="scrollToTop"
      aria-label="Scroll to top"
      href="#top"
    >
      ↑
    </a>
  </body>
</html>

<style is:global>
  @reference "@/styles/global.css";

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    font-family: "Lato", sans-serif;
    color: var(--foreground);
    background-color: #fafafa;
  }

  .btn {
    @apply size-fit cursor-pointer rounded-md px-5 py-2.5 text-sm font-medium shadow-sm;
  }

  .btn--primary {
    @apply bg-primary text-white;
  }

  .btn--secondary {
    @apply text-primary bg-white font-bold;
  }

  .success {
    background-color: #bbf7d0 !important;
    color: #16a34a !important;

    & .toast-close {
      color: #16a34a;
    }
  }

  .error {
    background-color: #fecaca !important;
    color: #dc2626 !important;

    & .toast-close {
      color: #dc2626;
    }
  }
</style>

<script>
  const scrollBtn = document.getElementById("scrollToTop") as HTMLAnchorElement;

  const toggleScrollBtn = () => {
    const hashIsTop = window.location.hash === "#top" || window.scrollY <= 50;
    scrollBtn.style.opacity = hashIsTop ? "0" : "1";
    scrollBtn.style.pointerEvents = hashIsTop ? "none" : "auto";
  };
  window.addEventListener("scroll", toggleScrollBtn);
  window.addEventListener("hashchange", toggleScrollBtn);
  window.addEventListener("load", toggleScrollBtn);
</script>
